@import 'var'

html {
  font-family: $base-font-family;
  -webkit-text-size-adjust: none;
  overflow-y: auto !important; // fix vuetify scroll
}

body {
  box-sizing: border-box;
  /**
   * Basic Typography.
   */
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
}

*,
*:before,
*:after {
  // @see https://www.paulirish.com/2012/box-sizing-border-box-ftw/
  box-sizing: inherit;
}
